body {
    font-family: 'Tahoma', sans-serif;
    background: linear-gradient(to top left, #edd2f3, #fffcdc, #84dfff);
    color: #5d4037;
    direction: rtl;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    padding: 30px 20px 20px;
    background: #f8d5e9;
    color: rgb(0, 0, 0);
    box-shadow: 0 4px 8px rgba(216, 67, 21, 0.5);
    border-radius: 10px;
    margin-bottom: 40px;
}

header h1 {
    margin: 0;
    font-size: 2.6rem;
    font-weight: bold;
}

header p {
    margin: 8px 0 0;
    font-size: 1.2rem;
    font-weight: 500;
}

main {
    max-width: 700px;
    margin: 0 auto;
}

section {
    margin-bottom: 40px;
    background: white;
    border-radius: 10px;
    padding: 25px 30px;
    box-shadow: 0 4px 12px rgba(216, 67, 21, 0.15);
}

h2 {
    color: #ee0a69;
    margin-top: 0;
    font-size: 1.8rem;
    border-bottom: 2px solid #ee0a69;
    padding-bottom: 8px;
    margin-bottom: 18px;
}

ul {
    list-style-type: square;
    padding-right: 20px;
    line-height: 1.8;
}

ul li {
    margin-bottom: 12px;
    font-size: 1.1rem;
}

a {
    color: #d84315;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 60px;
    color: #999;
    font-size: 0.9rem;
}